---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import DeployOptions from '../components/DeployOptions.astro';
import DistroSupport from '../components/DistroSupport.astro';
import QuickStart from '../components/QuickStart.astro';
import HowItWorks from '../components/HowItWorks.astro';
import GitHubCTA from '../components/GitHubCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <DeployOptions />
    <DistroSupport />
    <QuickStart />
    <HowItWorks />
    <GitHubCTA />
  </main>
  <Footer />
</Layout>
